*{
	margin:0;
	padding:0;
}
html,body{
	width:100%;
	height:100%;
	position: relative;
}
.chuatatca{
	width:100%;
}
.nenmo{
	width:100%;
	height:100%;
	position: fixed;
	left:0;
	top:0;
	background: #191919e6;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
}
#navbarNavDropdown ul{
	display:block;
	margin:auto;
}
#navbarNavDropdown>ul>li{
	margin:0 20px;
	float:left;
}
.header-above{
	width:100%;
	height:auto;
	background: #8360c3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.header-above img{
	width:30%;
	height:auto%;
	margin:auto;
	display: block;
}
.header-adjust li a{
	font-weight: 600;
	font-size: 22px;
	color:black !important;
	margin-right: 20px;
	border-radius: 10px;
	transition: 0.6s;
}
.header-adjust li a:hover{
	background-color: #2A6F82;
	color:white !important;
	transition: 0.6s;
}
.bg-header{
	background: #355C7D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*end header*/

/* content */
.title_under_img{
	background:url('../img/line.png') no-repeat center;
	width:100%;
	background-repeat: no-repeat;
	height:34px;
	margin-bottom:20px;
}
.title-service{
	text-align: center;
	margin-top:20px;
	color:#135F74;
}
.title-card{
	color : #135F74;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}
.paragrap-card{
	font-size: 18px;
	color:black;
	font-weight: 600;
}
div.icobox{
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
	background: #135F74;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	margin-left:-100%;
	opacity: 0;
	visibility: hidden;
	transition: 0.6s;
}
div.icobox p{
	font-size: 17px;
	padding:0 10px;
}
div.concept-layout a{
	text-decoration: none;
	color:white;
	font-size: 26px;
}
.icobox.appear{
	opacity: 1;
	visibility: visible;
	transition: 0.6s;
	margin-left:0;
}
.title-concept{
	color:white;
	font-size: 25px;
}
.title-concept:hover{
	color:yellow;
	opacity: 0.8;
}
.card-album{
	border:none !important;
}
.title-album{
	font-size: 25px;
	font-weight: 500;
	color:black;
	text-align: center;
}
.card-album img{
	position: relative;
}
.card-album img::after{
	content:'';
	width:100%;
	height: 100%;
	background-color: grey;
}
.card-album:hover.card-album img{
}
/* end content */

/* footer */
.footer-icons a{
	color:white;
	transition: 0.6s;
	background-color: black;
	padding:6px;
	border-radius: 1000px;
	font-size: 30px;
}
.footer-icons>a:nth-child(1):hover{
	color:#004085;
	transition: 0.6s;
}
div.footer-icons>a:nth-child(2):hover{
	color:#00ACED;
	transition: 0.6s;
}
div.footer-icons>a:nth-child(3):hover{
	color:#DD4B39;
	transition: 0.6s;
}
div.footer-icons>a:nth-child(4):hover{
	color:#BB0000;
	transition: 0.6s;
}
.bg-footer{
	background-color: #135F74;
	margin-top: 20px;
}
.bg-footer a{
	text-decoration: none;
}
.logo-footer{
	background-color: transparent;
	width: 50%;
	box-shadow: 0 0 15px pink;
	margin-top:20px;
}
.footer-left h6{
	color: white;
}
.footer-left a{
	text-decoration: none;
}
.footer-left h6 a{
	color:black;
	font-size: 20px;
	text-decoration: underline;
}
.title-footer{
	font-size: 35px;
	color:white;
	font-family: cursive;
}
.title-footer span{
	color:orange;
}
.contact-footer{
	color:white;
	font-size: 20px;
	font-weight: 500;
	padding-right: 15px;
	transition: 0.6s;
}
.contact-footer:hover{
	color:black;
	transition: 0.6s;
}
.footer-center{
	font-size: 20px ;
	color :white
}
.footer-company-about{
	color:white;
}
.footer-company-about span{
	font-size: 23px;
	font-weight: 600;
}
.footer-under{
	font-size: 20px;
	font-weight: 600;
	background-color: #04313d ;
	color:#fff;
	padding:5px 0;
}
.back-to-top.appear{
	visibility: visible;
	opacity: 1;
	transition: 0.6s;
}
div.table-search-box{
	width:35%;
	height:auto;
	background: white;
	position: fixed;
	left:50%;
	top:50%;
	margin-top:-100px;
	margin-left:-17%;
	border-radius: 5px;
	z-index: 11;
	opacity: 0;
	visibility: hidden;
}
div.table-search-box span{
    background:#B2B2B2;
    padding:10px;
    position:absolute;
    top:0;
    right:0;
    font-size:20px;
    font-weight:bold;
    cursor: pointer;
}
div.table-search-box h3{
	background:transparent;
	padding-top:40px;
	display:block;
	padding-left:20px;
	font-size: 25px;
}
div.table-search-box input{
	width:80%;
	display: block;
	padding-left:10px;
	margin-left:20px;
	height:40px;
}
div.table-search-box button{
	padding:5px 15px;
	margin-left:20px;
	margin-top:20px;
	background: #666666;
	border: none;
	font-weight: bold;
	color:white;
}
div.table-search-box p{
	padding:10px 20px;
}
.search-result{
	width:80%;
}
div.table-search-box button:hover{
	background:#DFAA00;
}
div.table-search-box span:hover{
	background: #4A4A4A;
}
.nenmo.appear1, .table-search-box.appear1{
	transition: 0.6s;
	opacity: 1;
	visibility: visible;
}
div.back-to-top, div.search-box{
	width:35px;
	height:35px;
	font-size:20px;
	background: #DFAA00;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	cursor: pointer;
}
div.back-to-top{
	position: fixed;
	right:0;
	bottom:0;
	visibility: hidden;
	opacity: 0;
}
div.search-box{
	position: fixed;
	right:0;
	bottom:200px;
}
.bell-contact{
	font-size: 40px;
	display: inline-block;
	position: fixed;
	bottom: 20px;
	right:20px;
	padding: 0 10px 0 10px;
	border-radius: 1000px;
	box-shadow:0 0 10px #2fc01fd4;
	animation-name: message;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
.bell-contact i{
	color:tomato;
}
.bell-contact i:hover{
	color:orangered;
}
.container-fluid{
	padding:0 !important;
	overflow: hidden;
}

@-webkit-keyframes message {
	0%{
		box-shadow:0 0 10px #2fc01fd4;
	}
	100%{
		box-shadow:0 0 20px #2fc01fd4;
	}
}
/* responsive */
@media only screen and (max-width:790px){
	.header-above img{
		width:70%;
		height:200px;
	}
	.bell-contact{
		font-size: 25px;
		bottom:0;
		right:0
	}
}
@media only screen and (max-width:1118px){
	.header-above img{
		width:60%;
		height:200px;
	}
}